<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label for="name">Your name:</label>
        <input type="text" name="name">
     </p>

    <p>
        <label for="username">Ваш логин</label>
        <input type="text" name="username">
    </p>
    <p>
        <label for="password">Пароль</label>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="login" name="login">
        <input type="submit" value="registration" name="registration">
    </p>
    <div>
        {{attention}}
    </div>
 </form>


</body>
</html>